[submodule "ComissionAI-frontend"]
	path = ComissionAI-frontend
	url = https://github.com/Bug-Busters-F/ComissionAI-frontend
[submodule "ComissionAI-backend"]
	path = ComissionAI-backend
	url = https://github.com/Bug-Busters-F/ComissionAI-backend
[submodule "ComissionAI-ai"]
	path = ComissionAI-ai
	url = https://github.com/Bug-Busters-F/ComissionAI-ai
